{
  "extends": "eslint-config-egg",
  "rules": {
    "strict": "off",
    "prefer-const": "off",
    "object-curly-spacing": "off",
    "no-empty-function": "off",
    "eol-last": "off",
    "valid-jsdoc": "off",
    "linebreak-style": "off"
  }
}
